@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 160 84% 39%;
    --radius: 1.5rem;
  }
  body {
    @apply bg-[#f9fafb] text-zinc-950 antialiased;
  }
}
